body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FF7F50; /* Color de fondo */
}

.sidebar {
  width: 20%;
  background-color: #239A3E; /* Color de la barra lateral */
  padding: 20px;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 10px;
}

.nav-link {
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  background-color: #0081A7; /* Color de hover */
}

.main-content {
  margin-left: 20%;
  padding: 20px;
  background-color: #F69F00; /* Color de fondo principal */
  color: #FFFFFF; /* Color del texto */
}

.main-content header {
  text-align: center;
}

h1 {
  color: #239A3E; /* Color del título */
  font-weight: 600;
}

.subtitle {
  margin: 10px 0;
  font-size: 1.5rem;
}

.highlight {
  color: #FF7F50; /* Color de resaltado */
  font-weight: 600;
}

.btn-perfil {
  background-color: #0081A7; /* Botón de color */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.btn-perfil:hover {
  background-color: #F69F00; /* Hover del botón */
}
